<p-dialog
  [style]="{ width: '50vh' }"
  header="Recuperar contraseña"
  [(visible)]="isRecoverPassword"
  [closable]="false"
  [modal]="true"
  [draggable]="false"
>
  <div>
    <form [formGroup]="recoverForm" (submit)="checkEmailToRecoverPassword()">
      <div class="item-form">
        <label for="email">Correo electrónico</label>
        <input
          formControlName="email"
          type="text"
          id="email"
          name="email"
          placeholder="email@example.com"
          required
        />
        <app-view-error-form
          *ngIf="recoverForm.invalid && recoverForm.controls['email'].touched"
          [controlForm]="recoverForm.controls['email']"
        />
      </div>
      <div class="flex justify-end gap-3">
        <button
          type="submit"
          class="border-white border-2 px-3 py-2 text-white rounded-md font-bold"
          [disabled]="submitted"
          [ngClass]="{
            'buttons-login cursor-pointer': !submitted,
            'cursor-no-drop': submitted
          }"
        >
          Enviar
        </button>
        <button
          type="button"
          class="border-red-500 border-2 px-3 py-2 text-red-500 rounded-md font-bold"
          (click)="closeDialogEvent()"
          [disabled]="submitted"
          [ngClass]="{
            'buttons-login cursor-pointer button-cancel': !submitted,
            'cursor-no-drop': submitted
          }"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</p-dialog>
