<section class="register flex flex-col items-center justify-center h-screen">
  <div class="form w-1/3 p-10 rounded-md">
    <h1 class="text-[2.4rem] text-white font-bold mb-5">Registro</h1>
    <form
      class="text-white"
      [formGroup]="registerForm"
      (submit)="registerNewUser()"
    >
      <div class="item-form">
        <label for="email">Correo electrónico</label>
        <input
          formControlName="email"
          type="email"
          id="email"
          name="email"
          [ngClass]="{ 'cursor-no-drop': submitted }"
        />
        <app-view-error-form
          *ngIf="getControl('email').touched"
          [controlForm]="getControl('email')"
        />
      </div>
      <div class="item-form">
        <label for="username">Nombre de usuario</label>
        <input
          formControlName="username"
          type="text"
          id="username"
          name="username"
          [ngClass]="{ 'cursor-no-drop': submitted }"
        />
        <app-view-error-form
          *ngIf="getControl('username').touched"
          [controlForm]="getControl('username')"
        />
      </div>
      <div class="item-form">
        <label for="password">Contraseña</label>
        <input
          formControlName="password"
          type="password"
          id="password"
          name="password"
          [ngClass]="{ 'cursor-no-drop': submitted }"
        />
        <app-view-error-form
          *ngIf="getControl('password').touched"
          [controlForm]="getControl('password')"
        />
      </div>
      <div class="item-form">
        <label for="passwordtwo">Escribe de nuevo la contraseña</label>
        <input
          formControlName="passwordtwo"
          type="password"
          id="passwordtwo"
          name="passwordtwo"
          [ngClass]="{ 'cursor-no-drop': submitted }"
        />
        <app-view-error-form
          *ngIf="getControl('passwordtwo').touched"
          [controlForm]="getControl('passwordtwo')"
        />
      </div>
      <div class="flex gap-3 items-center justify-end mt-5">
        <button
          type="submit"
          class="border-white border-2 px-3 py-2 text-white rounded-md font-bold"
          [ngClass]="{
            'buttons-login cursor-pointer': !submitted,
            'cursor-no-drop': submitted
          }"
          [disabled]="submitted"
        >
          Registrarse
        </button>
        <button
          type="button"
          class="border-red-500 border-2 px-3 py-2 text-red-500 rounded-md font-bold"
          routerLink="/public/login"
          [ngClass]="{
            'button-cancel buttons-login cursor-pointer': !submitted,
            'cursor-no-drop': submitted
          }"
          [disabled]="submitted"
        >
          Cancelar
        </button>
      </div>
    </form>
  </div>
</section>
<p-toast />
