<section
  class="login flex h-screen  items-center justify-center"
>
  <div class="form w-2/5 rounded-lg px-10 py-[3rem]">
    <h1 class="text-[2.4rem] font-bold mb-5 text-white">Inicio de sesion</h1>
    <form class="text-white" [formGroup]="loginForm" (submit)="loginUser()">
      <div class="item-form">
        <label for="username">Nombre de usuario</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="moviesFree"
          required
          [ngClass]="{ 'cursor-no-drop': submitted }"
          formControlName="username"
        />
        <app-view-error-form
          *ngIf="getControl('username').touched"
          [controlForm]="getControl('username')"
        />
      </div>
      <div class="item-form">
        <label for="password">Contraseña</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="password123"
          required
          [ngClass]="{ 'cursor-no-drop': submitted }"
          formControlName="password"
        />
        <app-view-error-form
          *ngIf="getControl('password').touched"
          [controlForm]="getControl('password')"
        />
      </div>
      <div class="flex gap-3 items-center justify-end mt-5">
        <button
          type="submit"
          class="buttons-login border-white border-2 cursor-pointer px-3 py-2 text-white rounded-md font-bold"
          [ngClass]="{
            'buttons-login cursor-pointer': !submitted,
            'cursor-no-drop': submitted
          }"
          [disabled]="submitted"
        >
          Ingresar
        </button>
        <button
          type="button"
          class="border-yellow-300 border-2 cursor-pointer px-3 py-2 text-yellow-300 rounded-md font-bold"
          [ngClass]="{
            'buttons-login cursor-pointer button-register': !submitted,
            'cursor-no-drop': submitted
          }"
          [disabled]="submitted"
          routerLink="/register"
        >
          Registrarse
        </button>
      </div>
    </form>
    <div class="flex justify-end mt-2">
      <button
        class="underline"
        type="button"
        [ngClass]="{
          'cursor-pointer hover:text-gray-300': !submitted,
          'cursor-no-drop': submitted
        }"
        [disabled]="submitted"
        (click)="openRecoverDialog()"
      >
        ¿Has olvidado tu contraseña?
      </button>
    </div>
  </div>
</section>
<p-toast />
<app-recover-dialog
  [isRecoverPassword]="isRecoverPassword"
  (closeDialog)="isRecoverPassword = $event"
/>
