<nav
  class="px-20 py-1 bg-black flex items-center justify-between sticky top-0 z-20"
>
  <div class="flex gap-10 items-center">
    <a class="w-[10rem]" routerLink="/">
      <img src="/images/logo.png" alt="animex" />
    </a>
    <ul class="flex gap-3 text-md">
      <li class="bg-red-500">Inicio</li>
      <li>Direcorio</li>
      <li>En emision</li>
      <li>Calendario</li>
      <li>Top</li>
    </ul>
  </div>
  <div class="flex items-center gap-3">
    <form>
      <input
        class="bg-white text-black p-2 rounded-l-md"
        type="text"
        placeholder="Buscar..."
      />
      <button class="bg-white p-2 rounded-r-md cursor-pointer" type="button">
        <i class="pi pi-search text-black"></i>
      </button>
    </form>
    <div class="flex gap-2">
      <button
        routerLink="/login"
        class="bg-white p-2 rounded-md text-black cursor-pointer hover:bg-gray-200 flex items-center gap-2"
      >
        <span class="pi pi-sign-in"></span>
        Iniciar Sesión
      </button>
      <button
        routerLink="/register"
        class="bg-red-600 p-2 rounded-md text-white cursor-pointer hover:bg-red-500 flex items-center gap-2"
      >
        <span class="pi pi-user-plus"></span>
        Registrarse
      </button>
    </div>
  </div>
</nav>
