<section class="h-screen w-screen flex justify-center items-center">
  <div class="form w-1/3 rounded-md p-5">
    <h1 class="text-3xl font-bold mb-5">Restablecer contraseña</h1>
    <form
      class=""
      [formGroup]="restorePasswordForm"
      (submit)="updatePassword()"
    >
      <div class="item-form">
        <label for="password">Nueva contraseña</label>
        <input
          formControlName="password"
          type="password"
          name="password"
          id="password"
          [ngClass]="{ 'cursor-no-drop': subbmited }"
        />
        <app-view-error-form
          *ngIf="getControl('password').touched && restorePasswordForm.invalid"
          [controlForm]="getControl('password')"
          [colorText]="'text-yellow-500'"
        />
      </div>
      <div class="item-form">
        <label for="confirmPassword">Escriba de nuevo la contraseña</label>
        <input
          formControlName="confirmPassword"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          [ngClass]="{ 'cursor-no-drop': subbmited }"
        />
        <app-view-error-form
          *ngIf="
            getControl('confirmPassword').touched && restorePasswordForm.invalid
          "
          [controlForm]="getControl('confirmPassword')"
          [colorText]="'text-yellow-500'"
        />
      </div>
      <div>
        <button
          type="submit"
          class="w-full bg-blue-500 text-white font-bold py-3 rounded-md"
          [ngClass]="{
            'hover:bg-blue-700': !subbmited,
            'cursor-no-drop': subbmited
          }"
        >
          Restablecer contraseña
        </button>
      </div>
    </form>
  </div>
</section>
<p-toast />
